* {
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
}

nav {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  /* justify-content: space-around; */
  align-items: center;
  background-color: lightblue;
  box-shadow: 0 0 20px -10px black;
  height: 80px;
}

.nav-item {
  margin: 40px;
}

.search {
  flex-grow: 2;
}

.container {
  margin: 80px 100px;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 236px);
  justify-content: center;
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 20px;
}

.item {
  /* margin: 20px; */
  padding: 20px;
  background: lightblue;
  border-radius: 15px;
  height: 200px;
}