* {
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
}

/* Navigation menu */
nav {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  align-items: center;
  background-color: lightblue;
  box-shadow: 0 0 20px -10px black;
  height: 80px;
}

.nav-item {
  margin: 40px;
}

.search {
  flex-grow: 2;
}

/* Main container */
.container {
  margin: 80px 100px;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 236px);
  justify-content: center;
  gap: 20px;
}

.item {
  padding: 20px;
  background: lightblue;
  border-radius: 15px;
  align-self: start;
  text-align: left;
  font-size: 10px;

}

.item img {
  width: 100%;
}

.item p {
  margin-bottom: 20px;
}

.item a {
  color: white;
  text-decoration: none;
  
}