.popupDown {
    position: absolute;
    right: 10px;
    bottom: 60px;
    z-index: 1;
    padding: 20px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
  