* {
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
}

nav {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  background-color: lightblue;
  height: 80px;
}

.nav-item {
  flex-grow: 1;
}

.search {
  flex-grow: 2;
}

.flex-container {
  display: flex;
}

.item {
  margin: 20px;
  padding: 20px;
  background: lightblue;
  border-radius: 15px;
}